<?xml version="1.0"?>
<configuration xmlns:role="http://www.sitecore.com/role">
  <sitecore>
    <pipelines>
      <healthMonitor>
        <processor type="AlexVanWolferen.SitecoreCustomMetrics.HealthMonitor, AlexVanWolferen.SitecoreCustomMetrics" method="DumpCacheStatistics" role:require="Standalone or ContentDelivery" />
        <processor type="AlexVanWolferen.SitecoreCustomMetrics.HealthMonitor, AlexVanWolferen.SitecoreCustomMetrics" method="DumpRenderingStatistics" role:require="Standalone or ContentDelivery" />
      </healthMonitor>
    </pipelines>
  </sitecore>
</configuration>
